<h2 style="text-align: center;">
  WELCOME TO MS-AU'2021!
</h2>

<br>
<form class="form-inline my-2 my-lg-0 ml-4">
  <input class="form-control mr-sm-2" 
  (ngModelChange)="searchDemands(key.value)" #key="ngModel" ngModel name="key"
  type="search" placeholder="Search" aria-label="Search">
</form>
<br>
<br>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>ED Name</th>
            <th>ED Email</th>
            <th>Description</th>
            <th>Location</th>
            <th>Skills</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let demand of demands" >
            <td>{{demand.did}}</td>
            <td>{{demand.ed_name}}</td>
            <td>{{demand.ed_email}}</td>
            <td>{{demand.description}}</td>
            <td>{{demand.location}}</td>
            <td>{{demand.skills}}</td>
            <td>
                <button class = "btn btn-info" (click)="updateDemands(demand.did)"> Update</button>
                <button class = "btn btn-danger" style="margin-left: 10px" (click)="deleteDemands(demand.did)"> Delete</button>
                <button class = "btn btn-info" style="margin-left: 10px" (click)="viewDemand(demand.did)"> View</button>
            </td>
        </tr>
    </tbody>
</table>