<app-navbar></app-navbar>
<br>
<h3 style="text-align: center;">TRENDS ACROSS THE YEARS</h3>
<br>
<form class="form form-inline" style="margin-left: 10%;">
      <label for="Year">Choose a year: </label>
      <select [(ngModel)]="year" name="year" id="Year" style="margin-left: 7px;">
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
      </select>
<button class="btn btn-light" style="margin-left: 5px;" type="submit" (click)="onSubmit()"><i class="fas fa-search"></i></button>
</form>
<br>
<br>
<div class="container">
        <div class="row">
          <div class="col">
                <h6 style="text-align: center;">TRENDING JOINING LOCATIONS</h6>
                <br>
                <div style="display: block; width: 500px; height: 500px;">
                        <canvas baseChart 
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors">
                      </canvas>
                </div>
          </div>
          <div class="col">
                <h6 style="text-align: center;">TRENDING SKILLS</h6>
                <br>
                <div style="display: block; width: 500px; height: 500px;">
                        <canvas baseChart 
                        [datasets]="barChartDataSkills"
                        [labels]="barChartLabelsSkills"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartTypeSkills"
                        [colors]="barChartColorsSkills"
                        >
                      </canvas>
                </div>
          </div>
        </div>
</div>
