<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="container">
        <div class="row">
          <div class="col">
                <h6 style="text-align: center;">CURRENT TRENDING JOINING LOCATIONS</h6>
                <br>
                <div style="display: block; width: 500px;height:350px ">
                        <canvas baseChart 
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="locbarChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors">
                      </canvas>
                </div>
          </div>
          <div class="col">
                <h6 style="text-align: center;">CURRENT TRENDING SKILLS</h6>
                <br>
                <div style="display: block; width: 500px; height: 350px;">
                        <canvas baseChart 
                        [datasets]="barChartDataSkills"
                        [labels]="barChartLabelsSkills"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartTypeSkills"
                        [colors]="barChartColorsSkills"
                        >
                      </canvas>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <h6 style="text-align: center;">CURRENT VACANCIES</h6>
            <br>
            <div style="display: block; width:700px; height: 500px;">
              <canvas baseChart
                [datasets]="CurrbarChartData"
                [labels]="CurrbarChartLabels"
                [options]="CurrbarChartOptions"
                [legend]="CurrbarChartLegend"
                [chartType]="CurrbarChartType">
              </canvas>
          </div>
          </div>
          <div class="col"></div>
        </div>
</div>
<h3 style="text-align: center;">TRENDS ACROSS THE YEARS</h3>
<br>
<br>
<h5 style="text-align: center;">JOINING LOCATIONS</h5>
<br>
<div class="container">
        <div style=" width: 1100px;">
          <canvas baseChart
            [datasets]="DistbarChartData"
            [labels]="DistbarChartLabels"
            [options]="barChartOptions"
            [legend]="DistbarChartLegend"
            [chartType]="DistbarChartType">
          </canvas>
      </div>

      <br>
      <br>
      <h5 style="text-align: center;">SKILLS</h5>
      <br>
    <div>
        <div style="width: 1100px; ">
          <canvas baseChart
            [datasets]="SkillDistbarChartData"
            [labels]="SkillDistbarChartLabels"
            [options]="barChartOptions"
            [legend]="SkillDistbarChartLegend"
            [chartType]="SkillDistbarChartType">
          </canvas>
        </div>
    </div>
  </div>

<br>
<br>