<!-- <app-navbar></app-navbar>

<div class="container">
    <div class="jumbotron">
        <label for="managername">ED Name:</label>
        <p id="managername">{{demand.ed_name}}</p>

        <label for="manageremail">ED Email:</label>
        <p id="manageremail">{{demand.ed_email}}</p>

        <label for="desc">Description:</label>
        <p id="desc">{{demand.description}}</p>

        <label for="location">Location:</label>
        <p id="location">{{demand.location}}</p>

        <label for="skills">Skills:</label>
        <p id="skills">{{demand.skills}}</p>

        <label for="vacancy">Vacancy:</label>
        <p id="vacancy">{{demand.vacancy}}</p>

        <label for="enddate">End Date:</label>
        <p id="enddate">{{demand.endDate}}</p>

        <button class="btn btn-info" (click)="onBack()">
            BACK
        </button>
    </div>
</div> -->

<app-navbar></app-navbar>
<br>
<h3 style="text-align: center;">DEMAND DETAILS</h3>
<br>
<ul class="list-group " style="width: 40%; margin-left: 30%">
    <li class="list-group-item">ED Name: {{demand.ed_name}}</li>
    <li class="list-group-item">ED Email: {{demand.ed_email}}</li>
    <li class="list-group-item">Description: {{demand.description}}</li>
    <li class="list-group-item">Location: {{demand.location}}</li>
    <li class="list-group-item">Skills: {{demand.skills}}</li>
    <li class="list-group-item">Vacancy: {{demand.vacancy}}</li>
    <li class="list-group-item">End Date: {{demand.endDate}}</li>
  </ul>
<br>
<br>
<button class="btn btn-info" style="margin-left: 47%;" (click)="onBack()">
    BACK
</button>